#wrapper{
    background: $col-blue-light;
    min-height: 100vh;

    &.no-sidebar{
        background: $col-milk-2;
    }
}
#page-wrapper{
    padding-top: 80px;
    min-height: 100vh;
    background: $col-milk-2;
    border-left: 1px solid $col-border;
    margin: 0 0 0 180px;

    &.navbar-double{
        padding-top: 120px;
    }

    .no-sidebar &{
        margin: 0;
    }

    .file-viewer &{
        margin: 0;
    }

    .content{
        padding: 0 10px;
    }
}


.navbar-static-side {
    position: fixed;
    width: 180px;
    z-index: 101;

}


.content-left{
    @extend .col-md-8;
    @extend .col-xs-12;
}

.content-right{
    @extend .col-md-4;
    @extend .col-xs-12;
}

.content-single{
    @extend .col-xs-12;
}

.content-deal{
    @extend .col-xs-12;
    margin-bottom: 20px;
    display: table;
}
.content-deal-wrapper{
    @extend %clearfix;
    border: 1px solid $col-border;
    position: relative;
    display: table-row;
    width: 100%;
}

.content-deal-left{

    @include breakpoint($bp-tablet-landscape){
        display: table-cell;
        vertical-align: top;
        //position: absolute;
        //left: 0;
        //top: 0;
        //bottom: 0;
        //float: left;
        width: 63%;
        border: 1px solid $col-border;
    }
}

.content-deal-right{
    border-top: 1px solid $col-border;

    @include breakpoint($bp-tablet-landscape){
        display: table-cell;
        vertical-align: top;
        //float: left;
        //position: absolute;
        //right: 0;
        //top: 0;
        //bottom: 0;
        width: 37%;
        //border: 0px none;
        border: 1px solid $col-border;
        border-left: 0px none;
    }
}
.content-file-viewer{
    @extend %clearfix;
    width: 100%;
    margin-bottom: 20px;
    display: table;
}
.content-file-viewer-wrapper{
    @extend %clearfix;
    position: relative;
    display: table-row;
    width: 100%;
}

.content-file-viewer-left{

    @include breakpoint($bp-tablet-landscape){
        display: table-cell;
        vertical-align: top;
        //position: absolute;
        //left: 0;
        //top: 0;
        //bottom: 0;
        //float: left;
        width: calc(100% - 320%);
        border-right: 1px solid $col-border;
        border-bottom: 1px solid $col-border;
    }
}

.content-file-viewer-right{

    @include breakpoint($bp-tablet-landscape){
        display: table-cell;
        vertical-align: top;
        //float: left;
        //position: absolute;
        //right: 0;
        //top: 0;
        //bottom: 0;
        width: 320px;
        //border: 0px none;
        border-bottom: 1px solid $col-border;
    }
}

.content-document{
    padding: 10px;
}