<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <div class="navbar-side-top">
      <div class="center-logo">
        <a href="#">
          <%= image_tag "logo.svg" %>
        </a>
      </div>
    </div>
    <ul class="nav" id="side-menu">
      <li class="active">
        <a href="/"><i class="icon-icon-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="/deals"><i class="icon-icon-document"></i> Deals</a>
      </li>
      <li>
        <a href="/report"><i class="icon-icon-barchart"></i> Report</a>
      </li>
      <li>
        <a href="/team"><i class="icon-icon-users"></i> Team</a>
      </li>
    </ul>
    <div class="deals-side-panel">
      <h2>STARRED DEALS</h2>
      <ul class="nav">
        <li>
          <a href="/deals/1"><i class="icon-icon-star"></i> Project Panda</a>
          <a href="/deals/1"><i class="icon-icon-star"></i> Project Dark Knight</a>
          <a href="/deals/1"><i class="icon-icon-star"></i> Project Alpha Dog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>