<div class="wrap-narrow">
        <div class="box-middle">
            <div class="inner">
                <div class="center-logo"><a href="#"><%= image_tag "logo.svg" %></a></div>
                <div class="panel panel-window">
                    <form role="form" action="">
                        <div class="form-group">
                            <label for="input-first_name">First Name</label>
                            <input type="email" name="first_name" id="input-first_name" class="form-control" placeholder="John" required="">
                        </div>
                        <div class="form-group">
                            <label for="input-last_name">Last Name</label>
                            <input type="password" name="last_name" id="input-last_name" class="form-control" placeholder="Doe" required="">
                        </div>
                        <div class="form-group">
                            <label for="input-company_name">Company Name</label>
                            <input type="company_name" name="last_name" id="input-company_name" class="form-control" placeholder="Your Company" required="">
                        </div>
                        <div class="form-group">
                            <label for="input-email">Email</label>
                            <input type="email" name="email" id="input-email" class="form-control" placeholder="example@doxly.com" required="">
                        </div>
                        <div class="form-group">
                            <label for="input-password">Create Password</label>
                            <input type="password" name="password" id="input-password" class="form-control" placeholder="Minimum 8 Characters Required" required="">
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        By signing up, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
                                    </div>
                                </div>
                                <div class="col-xs-5 text-right">
                                  <a href="/" class="btn btn-primary">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                Already have an account? <a href="#">Sign In.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>