<div class="wrap-narrow">
    <div class="box-middle">
        <div class="inner">
            <div class="center-logo"><a href="#"><%= image_tag "logo.svg" %></a></div>
            <div class="panel panel-window">
                <form role="form" action="">
                    <div class="form-group">
                        <label for="input-email">Email Address</label>
                        <input type="email" name="email" id="input-email" class="form-control" placeholder="example@doxly.com" required="">
                    </div>
                    <div class="form-group">
                        <label for="input-password">Password</label>
                        <input type="password" name="password" id="input-password" class="form-control" placeholder="Required" required="">
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="checkbox i-checks-box"><label> <input type="checkbox"><i></i> Remember Me </label></div>
                                </div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a href="/" class="btn btn-primary">Sign In</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        Don’t have an account? <a href="#">Sign Up.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>